{% extends 'base.html' %}

{% block title %}YaCut — укоротитель ссылок{% endblock %}

{% block content %}
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm"></div>
        <div class="col-sm">
          <form method="post">
            {{ form.hidden_tag() }}
            <div>
              <div>
                {{ form.original_link(class_='form-control form-control-lg py-2 mb-3', id='form-title', placeholder='Длинная ссылка') }}
                {% if form.original_link.errors %}
                  <p><span style="color:red">{{ form.original_link.errors[0] }}</span></p>
                {% else %}
                  <p><span style="color:red">&nbsp;</span></p>
                {% endif %}
              </div>
              <div>
                {{ form.custom_id(class_='form-control form-control-lg py-2 mb-3', id='form-link', placeholder='Ваш вариант короткой ссылки') }}
                {% if form.custom_id.errors %}
                  <p><span style="color:red">{{ form.custom_id.errors[0] }}</span></p>
                {% else %}
                  <p><span style="color:red">&nbsp;</span></p>
                {% endif %}
              </div>

              {{ form.submit(class_='btn btn-primary') }}
            </div>
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    {% if short_link %}
      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            <div class="text-center">
              <h5 class="text-center">Ваша короткая ссылка:</h5>
              <a href="{{ short_link }}">{{ short_link }}</a>
            </div>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
    {% endif %}

  </section>
{% endblock %}

